body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u2908 {
  position:absolute;
  left:278px;
  top:104px;
  width:47px;
  height:47px;
  color:#FFFFFF;
}
#u2909 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  word-wrap:break-word;
}
#u2910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2910 {
  position:absolute;
  left:335px;
  top:120px;
  width:101px;
  height:16px;
}
#u2911 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2912 {
  position:absolute;
  left:164px;
  top:104px;
  width:999px;
  height:478px;
  overflow:hidden;
  visibility:hidden;
}
#u2912_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:478px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2912_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:469px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
  color:#666666;
}
#u2913 {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:469px;
  font-size:18px;
  color:#666666;
}
#u2914 {
  position:absolute;
  left:2px;
  top:12px;
  width:995px;
  word-wrap:break-word;
}
#u2915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2915 {
  position:absolute;
  left:474px;
  top:408px;
  width:98px;
  height:35px;
  color:#666666;
}
#u2916 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u2917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2917 {
  position:absolute;
  left:336px;
  top:408px;
  width:98px;
  height:35px;
  color:#FFFFFF;
}
#u2918 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u2919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:2px;
}
#u2919 {
  position:absolute;
  left:0px;
  top:63px;
  width:999px;
  height:1px;
}
#u2920 {
  position:absolute;
  left:2px;
  top:-8px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2921 {
  position:absolute;
  left:12px;
  top:70px;
  width:987px;
  height:299px;
}
#u2921_input {
  position:absolute;
  left:0px;
  top:0px;
  width:987px;
  height:299px;
}
#u2912_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:478px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2912_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:474px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
  color:#666666;
}
#u2922 {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:474px;
  font-size:18px;
  color:#666666;
}
#u2923 {
  position:absolute;
  left:2px;
  top:12px;
  width:995px;
  word-wrap:break-word;
}
#u2924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2924 {
  position:absolute;
  left:489px;
  top:417px;
  width:98px;
  height:35px;
  color:#666666;
}
#u2925 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u2926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2926 {
  position:absolute;
  left:351px;
  top:417px;
  width:98px;
  height:35px;
  color:#FFFFFF;
}
#u2927 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u2928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:2px;
}
#u2928 {
  position:absolute;
  left:0px;
  top:63px;
  width:999px;
  height:1px;
}
#u2929 {
  position:absolute;
  left:2px;
  top:-8px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2930 {
  position:absolute;
  left:12px;
  top:70px;
  width:987px;
  height:305px;
}
#u2930_input {
  position:absolute;
  left:0px;
  top:0px;
  width:987px;
  height:305px;
}
#u2931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u2931 {
  position:absolute;
  left:399px;
  top:267px;
  width:432px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u2932 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  white-space:nowrap;
}
#u2933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:16px;
}
#u2933 {
  position:absolute;
  left:409px;
  top:310px;
  width:473px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2934 {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  word-wrap:break-word;
}
#u2936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2936 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
}
#u2937 {
  position:absolute;
  left:2px;
  top:32px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2938 {
  position:absolute;
  left:89px;
  top:27px;
  width:287px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2939 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u2940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:29px;
}
#u2940 {
  position:absolute;
  left:43px;
  top:28px;
  width:36px;
  height:28px;
}
#u2941 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u2942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:777px;
}
#u2942 {
  position:absolute;
  left:221px;
  top:82px;
  width:1px;
  height:776px;
}
#u2943 {
  position:absolute;
  left:2px;
  top:380px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u2944 {
  position:absolute;
  left:28px;
  top:621px;
  width:170px;
  height:20px;
  color:#A1A1A1;
  text-align:center;
  line-height:20px;
}
#u2945 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u2946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2946 {
  position:absolute;
  left:70px;
  top:199px;
  width:85px;
  height:16px;
  color:#1E1E1E;
}
#u2947 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:98px;
}
#u2948 {
  position:absolute;
  left:63px;
  top:91px;
  width:100px;
  height:98px;
}
#u2949 {
  position:absolute;
  left:2px;
  top:41px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
}
#u2950 {
  position:absolute;
  left:60px;
  top:603px;
  width:105px;
  height:20px;
}
#u2951 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2952 {
  position:fixed;
  right:150px;
  bottom:20px;
}
#u2952_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2952_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2953 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
}
#u2954 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u2955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:369px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2955 {
  position:absolute;
  left:222px;
  top:178px;
  width:168px;
  height:369px;
}
#u2955_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:369px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2955.mouseOver {
}
#u2955_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:369px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2955.selected {
}
#u2956 {
  position:absolute;
  left:2px;
  top:176px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:2px;
}
#u2957 {
  position:absolute;
  left:222px;
  top:178px;
  width:1114px;
  height:1px;
}
#u2958 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2959 {
  position:absolute;
  left:223px;
  top:238px;
  width:168px;
  height:60px;
}
#u2959_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2959.mouseOver {
}
#u2959_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2959.selected {
}
#u2960 {
  position:absolute;
  left:2px;
  top:22px;
  width:164px;
  word-wrap:break-word;
}
#u2961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2961 {
  position:absolute;
  left:222px;
  top:178px;
  width:168px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2961_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2961.mouseOver {
}
#u2961_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2961.selected {
}
#u2962 {
  position:absolute;
  left:2px;
  top:22px;
  width:164px;
  word-wrap:break-word;
}
#u2964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2964 {
  position:absolute;
  left:0px;
  top:356px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2964_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2964.mouseOver {
}
#u2964_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2964.selected {
}
#u2965 {
  position:absolute;
  left:2px;
  top:19px;
  width:219px;
  word-wrap:break-word;
}
#u2966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2966 {
  position:absolute;
  left:0px;
  top:410px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2966_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2966.mouseOver {
}
#u2966_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2966.selected {
}
#u2967 {
  position:absolute;
  left:2px;
  top:19px;
  width:219px;
  word-wrap:break-word;
}
#u2968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2968 {
  position:absolute;
  left:0px;
  top:302px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2968_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2968.mouseOver {
}
#u2968_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2968.selected {
}
#u2969 {
  position:absolute;
  left:2px;
  top:19px;
  width:219px;
  word-wrap:break-word;
}
#u2970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2970 {
  position:absolute;
  left:0px;
  top:464px;
  width:223px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2970_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2970.mouseOver {
}
#u2970_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2970.selected {
}
#u2971 {
  position:absolute;
  left:2px;
  top:19px;
  width:219px;
  word-wrap:break-word;
}
#u2972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u2972 {
  position:absolute;
  left:426px;
  top:179px;
  width:100px;
  height:64px;
  font-size:14px;
  text-align:center;
  line-height:25px;
}
#u2973 {
  position:absolute;
  left:0px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u2974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u2974 {
  position:absolute;
  left:542px;
  top:179px;
  width:100px;
  height:64px;
  font-size:14px;
  text-align:center;
  line-height:25px;
}
#u2975 {
  position:absolute;
  left:0px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u2976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:64px;
}
#u2976 {
  position:absolute;
  left:658px;
  top:179px;
  width:128px;
  height:64px;
  font-size:14px;
  text-align:center;
  line-height:25px;
}
#u2977 {
  position:absolute;
  left:0px;
  top:7px;
  width:128px;
  word-wrap:break-word;
}
#u2978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u2978 {
  position:absolute;
  left:802px;
  top:179px;
  width:100px;
  height:64px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:25px;
}
#u2979 {
  position:absolute;
  left:0px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u2980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u2980 {
  position:absolute;
  left:399px;
  top:545px;
  width:12px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:25px;
}
#u2981 {
  position:absolute;
  left:0px;
  top:-14px;
  width:12px;
  word-wrap:break-word;
}
#u2982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u2982 {
  position:absolute;
  left:419px;
  top:548px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2983 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u2984 {
  position:absolute;
  left:399px;
  top:375px;
  width:12px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:25px;
}
#u2985 {
  position:absolute;
  left:0px;
  top:-14px;
  width:12px;
  word-wrap:break-word;
}
#u2986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u2986 {
  position:absolute;
  left:419px;
  top:378px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2987 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2988 {
  position:absolute;
  left:452px;
  top:421px;
  width:480px;
  height:113px;
}
#u2989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u2989 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u2990 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
}
#u2991 {
  position:absolute;
  left:100px;
  top:0px;
  width:125px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2992 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u2993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u2993 {
  position:absolute;
  left:225px;
  top:0px;
  width:100px;
  height:27px;
}
#u2994 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:27px;
}
#u2995 {
  position:absolute;
  left:325px;
  top:0px;
  width:150px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2996 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u2997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u2997 {
  position:absolute;
  left:0px;
  top:27px;
  width:100px;
  height:27px;
}
#u2998 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
}
#u2999 {
  position:absolute;
  left:100px;
  top:27px;
  width:125px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3000 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u3001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u3001 {
  position:absolute;
  left:225px;
  top:27px;
  width:100px;
  height:27px;
}
#u3002 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u3003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:27px;
}
#u3003 {
  position:absolute;
  left:325px;
  top:27px;
  width:150px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3004 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u3005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u3005 {
  position:absolute;
  left:0px;
  top:54px;
  width:100px;
  height:27px;
}
#u3006 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u3007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
}
#u3007 {
  position:absolute;
  left:100px;
  top:54px;
  width:125px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3008 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u3009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u3009 {
  position:absolute;
  left:225px;
  top:54px;
  width:100px;
  height:27px;
}
#u3010 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u3011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:27px;
}
#u3011 {
  position:absolute;
  left:325px;
  top:54px;
  width:150px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3012 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u3013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u3013 {
  position:absolute;
  left:0px;
  top:81px;
  width:100px;
  height:27px;
}
#u3014 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u3015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
}
#u3015 {
  position:absolute;
  left:100px;
  top:81px;
  width:125px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3016 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u3017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u3017 {
  position:absolute;
  left:225px;
  top:81px;
  width:100px;
  height:27px;
}
#u3018 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u3019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:27px;
}
#u3019 {
  position:absolute;
  left:325px;
  top:81px;
  width:150px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3020 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u3021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u3021 {
  position:absolute;
  left:399px;
  top:909px;
  width:12px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:25px;
}
#u3022 {
  position:absolute;
  left:0px;
  top:-14px;
  width:12px;
  word-wrap:break-word;
}
#u3023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u3023 {
  position:absolute;
  left:419px;
  top:912px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u3024 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3025 {
  position:absolute;
  left:419px;
  top:588px;
  width:205px;
  height:65px;
}
#u3026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3026 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3027 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3028 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u3029 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3030 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u3031 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3032 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u3033 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3034 {
  position:absolute;
  left:419px;
  top:688px;
  width:305px;
  height:205px;
}
#u3035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u3035 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u3036 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u3037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u3037 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:20px;
}
#u3038 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u3039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u3039 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:20px;
}
#u3040 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u3041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3041 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:30px;
}
#u3042 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3043 {
  position:absolute;
  left:100px;
  top:20px;
  width:100px;
  height:30px;
}
#u3044 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3045 {
  position:absolute;
  left:200px;
  top:20px;
  width:100px;
  height:30px;
}
#u3046 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3047 {
  position:absolute;
  left:0px;
  top:50px;
  width:100px;
  height:30px;
}
#u3048 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3049 {
  position:absolute;
  left:100px;
  top:50px;
  width:100px;
  height:30px;
}
#u3050 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3051 {
  position:absolute;
  left:200px;
  top:50px;
  width:100px;
  height:30px;
}
#u3052 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3053 {
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:30px;
}
#u3054 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3055 {
  position:absolute;
  left:100px;
  top:80px;
  width:100px;
  height:30px;
}
#u3056 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3057 {
  position:absolute;
  left:200px;
  top:80px;
  width:100px;
  height:30px;
}
#u3058 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3059 {
  position:absolute;
  left:0px;
  top:110px;
  width:100px;
  height:30px;
}
#u3060 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3061 {
  position:absolute;
  left:100px;
  top:110px;
  width:100px;
  height:30px;
}
#u3062 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3063 {
  position:absolute;
  left:200px;
  top:110px;
  width:100px;
  height:30px;
}
#u3064 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3065 {
  position:absolute;
  left:0px;
  top:140px;
  width:100px;
  height:30px;
}
#u3066 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3067 {
  position:absolute;
  left:100px;
  top:140px;
  width:100px;
  height:30px;
}
#u3068 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3069 {
  position:absolute;
  left:200px;
  top:140px;
  width:100px;
  height:30px;
}
#u3070 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3071 {
  position:absolute;
  left:0px;
  top:170px;
  width:100px;
  height:30px;
}
#u3072 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3073 {
  position:absolute;
  left:100px;
  top:170px;
  width:100px;
  height:30px;
}
#u3074 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3075 {
  position:absolute;
  left:200px;
  top:170px;
  width:100px;
  height:30px;
}
#u3076 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:18px;
}
#u3077 {
  position:absolute;
  left:419px;
  top:947px;
  width:211px;
  height:18px;
  font-size:14px;
  line-height:18px;
}
#u3078 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
