body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1345px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:1300px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0 {
  position:absolute;
  left:0px;
  top:-11px;
  width:1345px;
  height:1300px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1 {
  position:absolute;
  left:2px;
  top:642px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:354px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u2 {
  position:absolute;
  left:66px;
  top:109px;
  width:355px;
  height:354px;
}
#u3 {
  position:absolute;
  left:2px;
  top:169px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u4 {
  position:absolute;
  left:94px;
  top:163px;
  width:175px;
  height:32px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:110px;
  top:295px;
  width:272px;
  height:34px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:34px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u7 {
  position:absolute;
  left:110px;
  top:243px;
  width:272px;
  height:34px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:34px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:85px;
  top:27px;
  width:287px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:29px;
}
#u10 {
  position:absolute;
  left:39px;
  top:28px;
  width:36px;
  height:28px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u12 {
  position:absolute;
  left:281px;
  top:162px;
  width:94px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14 {
  position:absolute;
  left:174px;
  top:363px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#999999;
}
#u16 {
  position:absolute;
  left:217px;
  top:413px;
  width:57px;
  height:20px;
  text-decoration:underline;
  color:#999999;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:354px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u18 {
  position:absolute;
  left:498px;
  top:109px;
  width:355px;
  height:354px;
}
#u19 {
  position:absolute;
  left:2px;
  top:169px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u20 {
  position:absolute;
  left:526px;
  top:163px;
  width:175px;
  height:32px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:542px;
  top:295px;
  width:272px;
  height:34px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:34px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u23 {
  position:absolute;
  left:542px;
  top:243px;
  width:272px;
  height:34px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:34px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u24 {
  position:absolute;
  left:713px;
  top:162px;
  width:94px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u26 {
  position:absolute;
  left:606px;
  top:363px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#999999;
}
#u28 {
  position:absolute;
  left:649px;
  top:413px;
  width:57px;
  height:20px;
  text-decoration:underline;
  color:#999999;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:354px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u30 {
  position:absolute;
  left:873px;
  top:109px;
  width:355px;
  height:354px;
}
#u31 {
  position:absolute;
  left:2px;
  top:169px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u32 {
  position:absolute;
  left:901px;
  top:163px;
  width:175px;
  height:32px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:917px;
  top:295px;
  width:272px;
  height:34px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:34px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u35 {
  position:absolute;
  left:917px;
  top:243px;
  width:272px;
  height:34px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:34px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u36 {
  position:absolute;
  left:1088px;
  top:162px;
  width:94px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u38 {
  position:absolute;
  left:981px;
  top:363px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u39 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
